{{!-- Formulario para agregar los datos a la bd --}}
<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Formulario</h3>
  <form action="/task/add" method="POST">

    <div class="mb-3 mt-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        name="nombre"
        placeholder="nombre"
        class="form-control rounded-0 text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="apellido" class="form-label">Apellido:</label>
      <input
        type="text"
        name="apellido"
        placeholder="Apellido"
        class="form-control rounded-0 text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="correo" class="form-label">Correo electronico:</label>
      <input
        type="email"
        name="correo"
        placeholder="correo"
        class="form-control rounded-0 text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="telefono" class="form-label">Telefono:</label>
      <input
        type="tel"
        name="telefono"
        placeholder="telefono"
        class="form-control rounded-0 text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="edad" class="form-label">Edad:</label>
      <input type="text" name="edad" placeholder="edad" class="form-control rounded-0 bg-dark text-white" />
    </div>
        <button class="btn btn-success btn-sm mt-2">Agregar</button>
  </form>
</div>