body{
    background: #212121;
}

.bg-black{
    background: #2B2B2B;
}
#myTable_filter .form-control.form-control-sm{
    background-color: transparent !important;
    color: #9FA3A9 !important;
}
input::placeholder.form-control.form-control-sm{
    color: white !important;
}
input::placeholder{
    color: #9FA3A9 !important;
}
select{
    background-color: #111111;
}
select.form-select.form-select-sm{
    background-color: transparent !important;
    color: #6c757d;
}
li.paginate_button.page-item.previous.disabled{
    color: #9FA3A9 !important;
    background-color: #212529 !important;
}
li.paginate_button.page-item.next.disabled{
    color: #9FA3A9 !important;
    background-color: #212529 !important;
}

a.page-link{
    color: #9FA3A9 !important;
    background-color: #212529 !important;
}