    {{!-- Trae el encabezado o barra navbar --}}
    <nav class="navbar navbar-dark bg-black mb-4">

        <div class="container">
            <a href="/" class="navbar-brand">CRUD Nodejs y Mongodb</a>

        </div>

    </nav>